*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0 50px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

header h1{
  white-space: nowrap;
  text-decoration: underline beige;
}

main{
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main ul{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

main ul li{
  font-size: x-large;
  color: beige;
  list-style: none;
  white-space: nowrap;
  background: linear-gradient(
    90deg,
    green 1%,
    transparent 10%
  );
}

#array{
  background: linear-gradient(
    90deg,
    green 30%,
    transparent 40%
  );
}

#strings{
  background: linear-gradient(
    90deg,
    green 30%,
    transparent 40%
  );
}

#LL{
  background: linear-gradient(
    90deg,
    green 20%,
    transparent 30%
  );
}

#searching-sorting{
  background: linear-gradient(
    90deg,
    green 30%,
    transparent 40%
  );
}

main ul li:hover{
  transform: scale(1.2, 1.2);
  text-shadow: 5px 5px 10px gray;
}

footer a{
  color: white;
  text-decoration: none;
  font-size: larger;
}

footer a:hover{
  text-decoration: underline;
}

footer hr{
  height: 1px;
  background-color: rgb(61, 59, 59);
  border: none;
}

footer div{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

footer h1{
  font-size: xx-large;
}

footer p{
  font-size: larger;
  white-space: nowrap;
}


footer div section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer div section section{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

footer div section section img{
  height: 50px;
  width: 50px;
}

#instagram{
  
}

#github{

}

#linkedin{
}